{% extends 'base.html.twig' %}






{% block body %}



<nav  class="navbar navbar-expand-lg navbar-light "style="background-color:#e4dcd1">
  <div class="container-fluid">
    
    <div style="font-size:20px"class="collapse navbar-collapse" id="navbarNav">
     <a href="{{path('app_accueil')}}"><img class="logo" src={{asset('images/logo.png')}}  width="100" height="100"></a>
      <ul style="margin-left:70%"class="navbar-nav">
    


        <li class="nav-item">
          <li class="nav-item"><a class="nav-link" href="{{path('app_cart')}}" style="color:black"><i class="bi bi-bag"></i></a></li>
        </li>
                 
                        {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
                
                      <li class="nav-item"><a class="nav-link" href="{{path('app_compte',{'id':app.User.id})}}" style="color:black">Mon compte</a></li>
                      
                      
                          <li><a class="nav-link" href="{{ path('app_logout') }}" style="color:black">Déconnexion</a></li>
            {% else %}
                          <li><a  class="nav-link"href="{{ path('app_login') }}" style="color:black">Se connecter</a></li>
                          <li><a class="nav-link" href="{{ path('app_register') }}" style="color:black">S'inscrire</a></li>
            
                
                      
            {% endif %}
                   

      </ul>
    </div>
  </div>
</nav>




{% endblock body %}