{% extends 'base.html.twig' %}




 {% block stylesheets %}
{{ encore_entry_link_tags ('cartpanier') }}

{% endblock %}


{% block body %}



{% block header %}
    {% include "./header/header.html.twig" %}
{% endblock %}


<div class="panier">
    <h1>Mon panier</h1>
    {% if items | length >0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Aperçu</th>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Montant total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td> <img class="produitImage" src={{asset(item.produit.images)}} width="100px"></td>
                    <td> {{item.produit.nomProduit}}</td>
                    <td>{{item.produit.prixProduit}} €</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.produit.prixProduit * item.quantity}} €</td>
                      <td>
                        <a class="text-body" href="{{path('cart_add',{'id':item.produit.id})}}"><img src={{asset('images/plus.svg')}}></i></a>
                    </td>
                    <td>
                        <a class="text-body"href="{{path('cart_remove',{'id':item.produit.id})}}"><img src={{asset('images/trash.svg')}}></a>

                    </td>
                  
                </tr>
            {% endfor %}
         </tbody>
 
    </table>

 <div class="total">
    <h3>Total:</h3>
    <h4>{{total}} €</h4>
</div>

<div class="suivant">
    <a class="link-dark" style="color:black" href="{{path('app_infos_commande')}}">Suivant</a>
</div>
    {% else %}
       <p>Votre panier est vide </p>
       <a href="{{path('app_accueil')}}">Commencer les achats</a>
    {% endif %}
    
</div>
{% endblock %}
