{% extends 'base.html.twig' %}


{% block stylesheets %}

  {{ encore_entry_link_tags ('infosUserCommande') }}
{% endblock %}
{% block body %}
    <h1>Informations personnelles</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
         {{ form_row(registrationForm.nomClient) }}
          {{ form_row(registrationForm.prenomClient) }}
           {{ form_row(registrationForm.adresseClient) }}
           {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       
        <div class="button">
        <button type="submit"  class="btn">Suivant</button>
        </div>
        
        
        
    {{ form_end(registrationForm,{render_rest:false}) }}
{% endblock %}
