{% extends 'base.html.twig' %}





{% block stylesheets %}
     
{{ encore_entry_link_tags ('accueil') }}

{% endblock %}

{% block body %}


{% block header %}

  {% include "header/header.html.twig" %}

{% endblock %}
    <div class="skincare">
      <img src="{{asset('images/skincareprod.jpg')}}">
    </div>
    
    <div class="catalogue">
      <h1>Catalogue </h1>
    </div>
    <div class="card-deck">
   
      {%  for arrayProduits in arrayProduits %}
       <div class="card" style="border:none">
          <div id="cardbody" class="card-body"style="font-family:Didot">
            <img id="cardbodyimg" class="card-img-top" src={{asset(arrayProduits.images)}} alt="Card image cap"></a>
            

          <a class="link-dark" href="{{ path('app_produit_id',{'id':arrayProduits.id})}}"><h5 class="card-title" >{{arrayProduits.nomProduit}}</h5></a>

      

      
            <p class="card-text" style="font-size:20px">{{arrayProduits.prixProduit}}€</p>
          </div>
              <div class="button">
                  <a class="ajouter" href="{{path('cart_add',{'id':arrayProduits.id}) }}">Ajouter</a>
                  </div>
            
        </div>
            {% endfor %}
  
    </div>
    <div class="images">

        <img src={{asset("./images/skincare.jpg")}}>
          <div class="text">
            <h1>Notre nettoyant visage est enfin disponible</h1>
            <a href=""><h3>Découvrez maintenant</h3></a> </div>
  
          <div class="logos">
            {# <img src={{asset('./images/paypal5.png')}}> #}
          </div>


        
   
      <div class="footer">

       
          <div class="infos">
            <h2>Liens rapides</h2>
            <a href="">A propos</a>
            <a href="">Contact</a>
          </div>
          <div class="infos2">
            <h2>Notre adresse</h2>
            <p>Rue blabla 20,1030 Bruxelles </p>
          </div>
          <div class="infos3">
            <h2>Nos réseaux sociaux</h2>
          </div>
    
        
    </div>

    
{% block javascripts %}

{{encore_entry_script_tags('accueilapp')}}
{% endblock %}

{% endblock %}

